.map {
  height: 500px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}
.map .leaflet-container {
  height: 100%;
}
.info-container {
  width: 200px;
}
.popup_info {
  background-color: red !important;
}

.info-flag img {
  /* width: 100%; */
  border-radius: 5px;
}
.info-flag {
  /* width: 100%; */
  height: 120px;
  margin-bottom: 5px;
  background-size: cover;
  /* object-fit: contain; */
}
.info-name {
  font-size: 1.3rem;
}
